
/* Banner */

.banner-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.img-banner {
    position: relative;
    height: 600px;
    background-position: center;
    background-size: cover;
    padding: 0px 20px;
    transition-duration: 500ms;
    overflow: hidden;
}

.img-banner:hover {
    cursor: pointer;
    filter: grayscale(0.60);

    .logo-banner {
        bottom: 80px;
    }
}

.logo-banner {
    position: absolute;
    bottom: -166px;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    transition-duration: 700ms;
}

#banner1 {
    background-image: url('/assets/img/re2-baner.jpg');
}

#banner2 {
    background-image: url('/assets/img/re3-baner.jpg');
}

#banner3 {
    background-image: url('/assets/img/re4-og-banner.jpg');
}

#banner4 {
    background-image: url('/assets/img/re4-remake-baner.jpg');
}

/* About */

#about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#text-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

#img-div {
    background-image: url('/assets/img/mr-x.png');
    background-position: center;
    background-size: cover;
    position: sticky;
    top: 25%;
    width: 500px;
    height: 500px;
}

#about-section p {

}

#about-container {
    display: flex;
    justify-content: space-around;
}