#banner-img {
  background-image: url('/assets/img/re4-og-banner.jpg');
  width: 100%;
  height: 800px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 100px;
}

#banner-img img {
  width: 1000px;
}

#history-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}

.text-image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.text-image-container div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 700px;
}

.text-image-container p {
  width: 700px;
}

.text-image-container img {
  width: 700px;
}

#character-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}


#character-list {
  display: flex;
  justify-content: space-around;
}

.character-card {
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 33.33%;
  position: relative;
  overflow: hidden;
}

#card-leon {
  background-image: url('/assets/img/re4-og-leon-card.jpg');
}

#card-ashley {
  background-image: url('/assets/img/re4-og-ashley-card.jpg');
}

#card-ada {
  background-image: url('/assets/img/re4-og-ada-card.jpg');
}

.character-card:hover {
  filter: grayscale(0.50);

  .card-back {
    bottom: 0px;
  }
}

.card-back {
  line-height: 1.5;
  padding: 20px;
  position: absolute;
  bottom: -250px;
  transition-duration: 500ms;
}